.grid{
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(6, 60px);
    width: 420px;
    height: 360px;
    margin: 0 auto;
    justify-content: center;
}

.cell{
    border:5px solid black;
    border-radius: 50%;
    outline:  5px solid black;
}

.cell_hover{
    background-color: rgb(75, 204, 255)!important;
}